- 
    var menu = [
        {
            name: "ГОловна",
            url: "index.html"
        },
        {
            name: "послуги",
            url: "#services"
        },
        {
            name: "про компанію",
            url: "#tours"
        },
        {
            name: "Акції",
            url: "#hotsale"
        },
        {
            name: "Партнери",
            url: "#"
        },
        {
            name: "відгуки",
            url: "#review"
        },
        {
            name: "Контакти",
            url: "#ask"
        },
    ]

-
    var figuresTop = {
        Velotour: {
            class: "",
            src: "img/rover",
            alt: "тур на велосипедах",
            name: "Тур на велосипедах",
            price: "335",
            description: "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.",
        },
        Islandtour: {
            class: "promo",
            src: "img/point",
            alt: "тур на острів",
            name: "Екскурсія на острів",
            price: "500",
            description: "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року.",
        },
        Order: {
            class: "promo",
            src: "img/personal",
            alt: "oсобливе замовлення",
            name: "Особливе замовлення",
            price: "250",
            description: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші.",
        },
    }

-    
    var figuresMiddle = {
        romantictour: {
            class: "promo",
            clas: "",
            src: "img/laguna",
            alt: "романтична подорож",
            name: "Романтична подорож на 2",
            description: "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.",
            price: "2599",
            href: "#",
        },
        bycicletour: {
            class: "promo",
            clas: "bycicle",
            src: "img/rocks",
            alt: "велотур",
            name: "Велотур",
            description: "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року.",
            price: "555",
            href: "#",
        },
        island: {
            class: "promo",
            clas: "",
            src: "img/beach",
            alt: "на острові",
            name: "На острови!",
            description: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші.",
            price: "1559",
            href: "#",
        },
        surfing: {
            class: "promo",
            clas: "",
            src: "img/surfing",
            alt: "серфінг",
            name: "Катання на серфінгу",
            description: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші.",
            price: "999",
            href: "#",
        },
    }

-
    var figureInfo = {
        hotels: {
            src: "img/file",
            alt: "file",
            name: "Графік роботи готелів",
            size: "10Mb",
            description: "Розклад роботи усіх наших готелів, можете знайти за цим посиланням. Та додатково завантажити їх фото.",
            href: "#",
        },
        feed: {
            src: "img/file",
            alt: "file",
            name: "Інформація про харчування",
            size: "10Mb",
            description: "У будь-якому нашому турі включені сніданки у вартість. Якщо ж бажаєте замовити додотково, то ознайомтесь з умовами.",
            href: "#",
        },

    }
